body {
  background: #baac94 url(images/paw_print.jpg);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: small;
  padding: 0px;
  color: 303030;
}
header{
  background: #baac94;
  margin: 5px;
  padding: 5px;
}
header ul {
  list-style: none;
  text-align: right;
  padding: 0px;
  margin: 0px;
}
header li {
  display: inline;
  padding: 0px 10px 0px 10px;
  text-align: right;
  font-size: 15px;
  margin-top: 0px;
}
#header-img, #header-info {
  float: right;
}
.bold {
  font-weight: bold;
}
#mainImage {
  padding: 5px;
  height: 100%;
}
#tableContainer {
  display: table;
  border-spacing: 5px;
}
#tableRow {
  display: table-row;
}
nav {
  background: #baac94;
  display: table-cell;
}
nav ul {
  list-style: none;
  font-size: large;
  padding: 5px;
}
nav li {
  padding-top: 10px;
}
section {
  background: #baac94;
}
section#body {
  display: table-cell;
  padding: 5px;
}
nav ul li.selected {
  background-color: #71644d;
  Padding: 0px;
  color: #d1c2a9;
}
